
@view-transition {
    navigation: auto;
}

*{
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

img {
    width: 100%;
    height: auto;
}

div{
    align-content: space-around;
    display: inline-block;
}

.iconButton{
    color: royalblue;
    transition: color 0.3s ease;
}

.iconButton:hover{
    color: bisque;
}
