
@view-transition {
    navigation: auto;
}

*{
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

img {
    width: 100%;
    height: auto;
}

.header {
        background-color: #888;
        color: #fff;
        width: 100%;                 
        margin: 0 auto;
        padding: 1rem;
        text-align: center;
        li, ol, ul {
            width: 24%;
            display: inline-block;
        }
        }

.headerButton {
    text-decoration: none;
}

.headerButton:hover {
    color: black;
}

.mainButton {
    text-decoration: none;
    align-items: baseline;
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
    text-align: left;
    width: 40%;
    color: aliceblue;
    transition: color 0.3s ease;
}

.mainButton:hover{
    color: brown;
}

.wrapper {                   
        background-color: transparent;
        width: 100%;				  
		min-width: 1100px;			 
        height: 100vh;                
        margin: 0 auto;
        padding: 0;
        overflow-y: hidden;           
        }      

.contentWrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
    height: 70;
}

.iconButton{
    color: royalblue;
    transition: color 0.3s ease;
}

.iconButton:hover{
    color: bisque;
}

.wideButton{
    background-color:rgb(32, 148, 123);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border:20px;
    border-style: double;
    border-color: rgb(32, 148, 123);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    position: relative;
    svg {
        position:absolute;
    }
}

.buttonSVGLeft{
    top:0;
    left: 0;
    width: 20;
    height: 20;
    z-index: 10;
    vertical-align: top;
}

.wideButton:hover{
    border-color: aliceblue;
}
